.header {
  position: relative;
  background: url("images/sparklean-header.jpg") center no-repeat;
  @include m(jumbo) {
    min-height: 400px;
    height: 50%;
  }
  @include e(logo) {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: -9999px;
    background: url("images/sparklean_logo.svg") top no-repeat;
    min-height: 150px;
    @include mq(small) {
      position: absolute;
      background-position: bottom;
      min-width: 400px;
      width: 40%;
      bottom: 0;
    }
  }
}

