// ========= flexbox placeholders ==============

%flex--row {
  display: flex;
  flex-direction: row;
}

%flex--col {
  display: flex;
  flex-direction: column;
}

%flex--col-to-row {
  display: flex;
  flex-direction: column;
  @include mq(small) {
    flex-direction: row;
  }
}

%flex--row-to-col {
  display: flex;
  flex-direction: row;
  @include mq(small) {
    flex-direction: column;
  }
}

// ============ Links =============================
%active {
  background-color: $color-secondary;
  color: $white;
}

// ============= Buttons ==========================

%button-flat {
  border: none;
  outline: none;
}


// ==========  Acessibility =====================
%hide-text {
  text-indent: -9999px;
}

// ==========  CSS Transitions ==================

%transition-fast {
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}